
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
    display: flex;
}
/* dark-2 */
.text-gray{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}

main {
    max-width: 1440px;
}

.brand{
    font-weight: bold;
    font-size: 3rem;
}

.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main > section {
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}


/* some facts styles */
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    margin: 24px 24px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fact-description{
    max-width: 540px;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* sponsor styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

/* Navbar style */
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.Navbar , .banner{
    max-width: 1440px;
    margin-left: 228px;
    margin-right: 240px;
    
}

/* Banner styles */
.banner-content{
    max-width: 850px;
    margin: 0px auto;
    text-align: center;
    align-items: center;
    margin-bottom: 50px;
    align-self: center;
    
}
.banner-title{
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}
/* Teams styles */

.teams{
    align-items: center;
;
}

.team-sec-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-futures{
    margin-left:  130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}

/* responsive meidia query */
@media screen and (max-width: 576px) {
    .Navbar, .nav-links{
        flex-direction: column;
    }
}